.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button.modal-toggle {
    background-color: rgb(197, 228, 225);
    cursor: pointer;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border: none;
    border-radius: 7px;
  }
  
  
  